{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-box">
        <form action="" method="post"> {% csrf_token %}
          <div class="user-box">
            <input type="text" name="username" required="">
            <label>Nombre de usuario</label>
          </div>
          <div class="user-box">
            <input type="password" name="password" required="">
            <label>Contraseña</label>
          </div><center>
            <a href="{% url 'login' %}" method="post">
                   LOGIN
               <span></span>
            </a></center>
        </form>
      </div>
{% endblock %}
