{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-box">
        <form action="" method="post" id="login-form"> {% csrf_token %}
        {% if mensaje %}
          <div class="alert alert-danger" role="alert">
            {{ mensaje }}
          </div>
        {% endif %}

        {# <div class="user-box">
          <input type="text" name="{{ form.username.name }}" required="">
          <label>{{ form.username.label }}</label>
        </div>
        <div class="user-box">
          <input type="password" name="{{ form.password.name }}" required="">
          <label>{{ form.password.label }}</label>
        </div> #}
          
          <center>
            <a href="#" onclick="document.getElementById('login-form').submit()">
                   LOGIN
               <span></span>
            </a></center>
        </form>
      </div>
      {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
      {% endfor %}
    {% endif %}
{% endblock %}
